body {
  background-color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

.editor-container {
  flex: 1;
  padding: 20px;
  max-width: none;
  text-align: center;
  position: relative;
}

.editor-container h1 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.editor-toolbar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: center;
}

.toolbar-btn {
  background-color: #30353e;
  border: 2px solid white;
  color: white;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.toolbar-btn:hover {
  background-color: white;
  color: black;
}

.toolbar-btn.leave {
  background-color: #ec3360;
  border-color: #ec3360;
  color: white;
}

.toolbar-btn.leave:hover {
  background-color: #ea1c4e;
  color: white;
}

.format-toolbar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: center;
}

.format-toolbar button {
  background-color: #30353e;
  border: 2px solid #fff;
  color: white;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 8px;
  transition: 0.3s;
  margin-top: 0px;
  margin-right: 8px;
}

.format-toolbar button:hover {
  background-color: white;
  color: black;
}

.editor-area {
  width: 80%;
  max-width: 800px;
  margin: 0 auto; /* This centers it horizontally */
  height: 460px;
  padding: 20px;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  border: 2px solid #4d4d4d;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  background-color: #222;
  overflow-y: auto;
  text-align: left;
}

.editor-area:focus {
  border-color: white/*#007bff*/;
}